# Types of operators
## Arithmetic operators
### + - * / % ** //

demopass123

In [ ]:

a = 5
b = 6

c = a ** b
print(c)

15625

In [ ]:
print(a // b)

0

In [ ]:
print(a/b)

0.8333333333333334

In [ ]:
print (a % b)

5

# compersion operators
## ==, !=, >, <, >=, <=

In [ ]:
print(a==b)
print(a>b)
print(a>=b)
print(a!=b)
print(a<b)
print(a<=b)

False
False
False
True
True
True

# logical operators
## add, or, not

In [ ]:
print( a>5 or b>5 )

True

In [ ]:
print( a>5 and b>5 )

False

In [ ]:
print(not (a>5 and b>5))
print(not (a>5 or b>5))

True
False

# condtinal statement
## if, elif, else

In [ ]:
if a < b:{
print (a , "is less then", b)
}

5 is less then 6

In [ ]:
if a > b:{
print (a , "is less then", b)
}

else:{
print(a, " is smaller then", b)
}

5  is smaller then 6

In [ ]:
c = int(input("enter a number"))

### 1. Write a program to find number is odd or even

In [ ]:
print(10//2)

5

In [ ]:
number1 = int(input("Enter a number"))

if number1 % 2 == 0:
    print("The given number", number1, "is odd")
else:
    print("The given number", number1, "is even")

The given number 10 is odd

### 2. Write a program to enter the users birth year and see if he is eligible for voting

In [ ]:
from datetime import date

date = date.today()
print(date)

2025-01-04

In [ ]:
from datetime import date

date = date.today()
dob = int(input("Enter your data of birth in birth in format yyyy"))
age = date.year - dob
if age > 18:
    print("eligible for voting")
else:
    print("not eligible for voting")

eligible for voting

### 3. Get the three sides of triangle and say which type of triangle it is.

In [ ]:
def triangle(side1, side2, side3):
    if side1 == side2 == side3:
        print("the given triangle is equilateral triangle")
    elif side1 == side2 or side2 == side3 or side3 == side1:
        print("the given triangle is isoscelese triangle")
    else: 
        print("the given triangle is scalene triangle")

side1 = float(input("provide a side a to the triangle"))
side2 = float(input("provide a side b to the triangle"))
side3 = float(input("provide a side c to the triangle"))

triangle(side1, side2, side3)

the given triangle is scalene triangle

05/Jan/25
### Loops 
### Fuctions
### Array

## Loops
### While loop

In [5]:
i = 1

while i <= 10:
    print(i)
    i = i + 1

print(i)

1
2
3
4
5
6
7
8
9
10
11

### for loop

In [8]:
for j in range(11):
    print(j)

0
1
2
3
4
5
6
7
8
9
10

In [10]:
name = "shashank"
namelen = len(name)
print(namelen)
for i in name:
    print(i)

s
h
a
s
h
a
n
k
8

In [11]:
for i in range(namelen):
    print(name)

shashank
shashank
shashank
shashank
shashank
shashank
shashank
shashank

In [25]:
reves = name[::-1]
if name == reves:
    print("pallindrom")
else:
    print("not pallindrom")

not pallindrom

In [26]:
student = ["subrahmanya", "prince", 5, "manjunath", "sp", 8.6, ["devops", "cloud"]]
cout = int(len(student)/2)

print(student[0:cout])

['subrahmanya', 'prince', 5]

### 1 .find all the even numbers in a given list.

In [32]:
num = [1, 5 ,20 ,25, 100, 250, 110]
num1 = len(num)
for i in range(0,num1):
    print(num[i])

1
5
20
25
100
250
110

In [33]:
num = [1, 5 ,20 ,25, 100, 250, 110]
num1 = len(num)
for i in range(0,num1):
    if num[i] % 2 == 0:
        print(num[i], "is a even")

20 is a even
100 is a even
250 is a even
110 is a even

### 2. count how many times a specific element appears in a list

In [50]:
fruites = ["apple", "banna", "grapes", "orange", "grapes", "apple", "orange"]
test = []
num2 = len(fruites)
print(num2)

7

In [51]:
# for i in range(0, num2):
#     cont = 0
#     for j in range(i+1, num2):
#         if fruites[i] == fruites [j]:
#             cont = cout + 1
#     print(fruites[i],cout)
for i in range(0, num2):
    for j in test:
        if fruites[i] != test[j]:
            test[j] = test[j] + [fruites[i], fruites.count]

print(test)

[]

In [60]:
fruites = ["apple", "banana", "grapes", "orange", "grapes", "apple", "orange"]

result = {}  

for i in range(len(fruites)):
    if fruites[i] not in result:
        count = 1  
        for j in range(i+1, len(fruites)):
            if fruites[i] == fruites[j]:
                count += 1
        result[fruites[i]] = count
print("Occurrences of all elements:", result)

Occurrences of all elements: {'apple': 2, 'banana': 1, 'grapes': 2, 'orange': 2}

### 3. Calculate the sum of all the positive numbers

In [64]:
import random
random.randrange(-100, 100, 10)
sum = 0
randomnum = []
randomnumpostive = {}
for i in range(0, 20):
    num = random.randrange(-100, 100, 10)
    randomnum.append(num)
    if num >= 0:
        sum = num + sum
        print(num)
print(randomnum)
print(sum)

10
20
0
50
10
10
90
90
90
10
40
90
{0: -70, 1: -20, 2: 10, 3: 20, 4: 0, 5: 50, 6: 10, 7: -30, 8: -100, 9: 10, 10: -70, 11: -100, 12: -40, 13: 90, 14: 90, 15: 90, 16: 10, 17: 40, 18: 90, 19: -30}
510

## Intermediate:

### Break entire list to two list into even and odd

In [72]:
num = [1, 5 ,20 ,25, 100, 250, 110]

odds = []
evens = []

for i in range(len(num)):
    if num[i] %2 == 0:
        odds.append(num[i])
    else:
        evens.append(num[i])

print(odds)
print(evens)

[20, 100, 250, 110]
[1, 5, 25]

## Advanced:

### 1. Find the second largest number in the list
### 2. Find anagrams in the list

.extend()
.append()
.insert(index, value)
.sort()
.sort(reverse=true)
.clear()
.reverse()
.split()
.list()

In [73]:
fruites.sort()
print(fruites)

['apple', 'apple', 'banana', 'grapes', 'grapes', 'orange', 'orange']

In [ ]:
tudent = ["subrahmanya", "prince", 5, "manjunath", "sp", 8.6, ["devops", "cloud"]] #7 --> 3.5 --> 3

student.append("vijay")
subject = ["phy", "maths", "chem", "bio"] #4 --> 2
student.extend(subject)
student.remove("sp")

# student.clear()

student.insert(2,"sp")

# student.sort()
print(len(student))
print(student)
number = [1, 56, 23, 121, -122, 4, 0]
# number.sort(reverse=True)
number.reverse()
print(number)

# for i in range(len(student)):
#     print(type(student[i]))

newlist = list("Prashant")
print(newlist)

tuple: tuple is an immutable any set of data type and index 
diffent, add attached removed
unchangable, in a secnario where we don't need to update we can use for better perfomace

In [74]:
mytuple = (12,3,5,6,9,77,445)
mytuple.reverse()
print(mytuple)

AttributeError: 'tuple' object has no attribute 'reverse'

Set: is an unordered and unique element, non indexing

In [79]:
myset= {5, 10, 20 ,5 , 1, 2, 4, 5}
print(myset)
print(len(myset))

{1, 2, 4, 5, 20, 10}
6

In [80]:
myset.add(55)
print(myset)

{1, 2, 4, 5, 20, 55, 10}

In [81]:
myset.remove(55)
print(myset)

{1, 2, 4, 5, 20, 10}

# dictionary --> under order with key value pair

In [89]:
mydata = { 
    "name" : "shashank", 
    "age" : 28, 
    "bmi": 23.1,
    }
print(mydata)

{'name': 'shashank', 'age': 28, 'bmi': 23.1}

In [86]:
print(mydata["age"])

28

In [87]:
mydata["age"]=18
print(mydata)

{'name': 'shashank', 'age': 18, 'bmi': 23.1}

In [88]:
del mydata["bmi"]
print(mydata)

{'name': 'shashank', 'age': 18}

In [93]:
for i,j in mydata.items():
    print(i,":",j)

name : shashank
age : 28
bmi : 23.1

In [95]:
for i in mydata.values():
    print(i)

shashank
28
23.1

In [96]:
for i in mydata:
    print(i, mydata[i])

name shashank
age 28
bmi 23.1

In [ ]:
# filter